@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 12px;
  }

  .text-area {
    resize: none;
  }

  /* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as desired */  
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Customize the scrollbar thumb color */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Adjust the width as desired */
  scrollbar-color: #4a5568 transparent; /* Customize the scrollbar thumb color */
}

.popup-show {
  transform: translateX(0%);
}

.popup-hide {
  transform: translateX(-150%) !important;
}



  @media (min-width: 576px) {
    html {
      font-size: 16px;
    }
  }
}